<head>
  <meta charset="UTF-8">
  <meta name="description" content="FARMER BANK">
  <meta http-equiv="X-UA-Compatible"> content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
</head>
<body> "RURAL FAMILY'S BANK"
  <img width="300" alt="Angular Logo" img src="assets/images/farming.jpeg">
</body>
<div class="container">
  <form class="form-signin"></form>
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    </div>
    <div class="container">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox"></div>
      <label> 
        <input type="checkbox" value="remember-me"> Remember me
      </label>
      <li>

    

<button type="button" form action="contact.html" onclick>Sign In</button>

<input type="button" value="Put Your Text Here" onclick="window.location.href='http://www.hyperlinkcode.com/button-links.php'"
</div>